.MuiToolbar-root.MuiToolbar-regular.toolbar.MuiToolbar-gutters {
    display: inline-block;
}

header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary.appBar.mui-fixed.MuiPaper-elevation4 {
    background-color: #DCDDDF;
    color: #36474F;
}